/* Estilos del Pop-up */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.popup .popup-contenido {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  text-align: center;
}

.popup ul {
  list-style: none;
  padding: 0;
}

.popup ul li {
  margin: 10px 0;
}

.popup.visible {
  visibility: visible;
  opacity: 1;
}

/*  */

button {
  margin-top: 10px;
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/*  */

#cursos {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se acomoden en múltiples filas */
  justify-content: space-between; /* Espacia los elementos horizontalmente */
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}